pretrained_models/
*.DS_Store
sagemaker/keras/container/.serverless/*
sagemaker/keras/container/node_modules/*
sagemaker/keras/container/trained_model/*
sagemaker/mxnet/container/node_modules/*
sagemaker/mxnet/container/.serverless/*
sagemaker/mxnet/container/trained_model/*
*__pycache__*

